<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/main.css">
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-body-secondary mb-5">
    <div class="container-fluid">
        <a href="/home.html" class="navbar-brand fw-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-text"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M13 8H7"/><path d="M17 12H7"/></svg>
            SPORTALK</a>
        <div class="d-flex">
            <!-- ... navbar setup ... -->
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title m-2">Create a Category</h5>
            </div>
            <div class="card-body">
                {{if .ErrorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{.ErrorMessage}}
                </div>
                {{end}}
                <form method="POST" action="/createCategory">
                    <div class="mb-2">
                        <label for="categoryName" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Create Category</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer class="navbar fixed-bottom bg-body-secondary">
    <div class="container-fluid">
        © 2024 Sportalk. All rights reserved.
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>